body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    text-align: center;
    background: linear-gradient(120deg, #33b7ce 50%, #218ed6 50%);
}

hr{
    width: 500px;
}

#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#answer{
    display: none;
}

#board{
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid rgb(19, 18, 18);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: greenyellow;
    color: white;
    border-color:  white;
}

.present{
    background-color: yellow;
    color: white;
    border-color: white;
}

.absent{
    background-color: grey;
    color: white;
    border-color: white;
}

.keyboard-row{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile{
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile{
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid rbg(0,0,0);
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 11px;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}